.favouriteImageContainer {
  background-color: palevioletred;
  position: relative;
  line-height: 0;
  flex: 0 0 auto;
  margin: 0 1rem;
}
.favouriteImage {
  /* min-height: 200px; */
  width: 200px;
}
