.likeButton {
  background: none;
  border: none;
  font-size: 2rem;
}

.likeButton--favImg {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  text-align: center;
}
